@model BDRD.DemoCICD.CRUDAPP.Web.ViewModels.UpsertViewModel;
@{
  ViewData["Title"] = "Add";
}
<div>
  <div class="title">
    <h3>Add Todo Item </h3>
  </div>
  <form asp-action="InsertTodoItem" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Name"></label>
      <input type="text" asp-for="Name" class="form-control">
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="StartDate"></label>
      <input type="date" asp-for="StartDate" class="form-control">
      <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="DueDate"></label>
      <input type="date" asp-for="DueDate" class="form-control">
      <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Status"></label>
      <select class="form-control" asp-for="Status">
        <option value="2">Completed</option>
        <option value="1">InProgress</option>
        <option value="0">NotStarted</option>
      </select>
    </div>
    <div class="form-group">
      <label asp-for="Note"></label>
      <textarea class="form-control" asp-for="Note" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" value="Save">Submit</button>
    <a class="btn btn-danger" asp-action="Index">Back</a>
  </form>
</div>
@section scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
  $.validator.addMethod("greaterThan",
    function (value, element, params) {

      if (!/Invalid|NaN/.test(new Date(value))) {
        return new Date(value) > new Date($(params).val());
      }

      return isNaN(value) && isNaN($(params).val())
        || (Number(value) > Number($(params).val()));
    }, 'Must be greater than {0}.');
  $("#DueDate").rules('add', { greaterThan: "#StartDate" });
</script>
}